---
http_interactions:
- request:
    method: get
    uri: http://www.crossref.org/openurl/?format=unixref&id=doi:10.1101/097196&noredirect=true&pid=tech@datacite.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Crossref-Deployment-Name:
      - qs3-1
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<doi_records>\r\n  <doi_record
        owner=\"10.1101\" timestamp=\"2016-12-29 01:10:20\">\r\n    <crossref>\r\n
        \     <posted_content type=\"preprint\" language=\"en\" metadata_distribution_opts=\"any\">\r\n
        \       <group_title>Scientific Communication and Education</group_title>\r\n
        \       <contributors>\r\n          <person_name contributor_role=\"author\"
        sequence=\"first\">\r\n            <given_name>Martin</given_name>\r\n            <surname>Fenner</surname>\r\n
        \           <ORCID>http://orcid.org/0000-0003-1419-2405</ORCID>\r\n          </person_name>\r\n
        \         <person_name contributor_role=\"author\" sequence=\"additional\">\r\n
        \           <given_name>Merc?</given_name>\r\n            <surname>Crosas</surname>\r\n
        \           <ORCID>http://orcid.org/0000-0003-1304-1939</ORCID>\r\n          </person_name>\r\n
        \         <person_name contributor_role=\"author\" sequence=\"additional\">\r\n
        \           <given_name>Jeffrey</given_[...]
