---
http_interactions:
- request:
    method: get
    uri: http://www.crossref.org/openurl/?format=unixref&id=doi:10.1890/0012-9658(2006)87%255b2832:tiopma%255d2.0.co;2&noredirect=true&pid=tech@datacite.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Crossref-Deployment-Name:
      - cr7-1
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<doi_records>\r\n  <doi_record>\r\n
        \   <crossref>\r\n      <error>doi:10.1890/0012-9658(2006)87%5b2832:tiopma%5d2.0.co;2</error>\r\n
        \   </crossref>\r\n  </doi_record>\r\n</doi_records>"
  recorded_at: Thu, 27 Apr 2017 08:36:21 GMT
recorded_with: VCR 3.0.3
