---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.5438
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"b9f2d79281c542db437c42a5bac25ac8"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.5438","type":"prefixes","attributes":{"registration-agency":"DataCite","updated":"2016-09-21T20:27:15Z"}}}'
  recorded_at: Tue, 18 Apr 2017 18:28:18 GMT
recorded_with: VCR 3.0.3
