---
http_interactions:
- request:
    method: get
    uri: https://doi.org/10.3334/ornldaac/1339
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: ''
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://daac.ornl.gov/cgi-bin/dsviewer.pl?ds_id=1339
    body:
      encoding: ASCII-8BIT
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="http://daac.ornl.gov/cgi-bin/dsviewer.pl?ds_id=1339">http://daac.ornl.gov/cgi-bin/dsviewer.pl?ds_id=1339</a></body></html>
  recorded_at: Thu, 10 Jan 2019 20:16:16 GMT
- request:
    method: get
    uri: http://daac.ornl.gov/cgi-bin/dsviewer.pl?ds_id=1339
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved permanently
    headers:
      Location:
      - https://daac.ornl.gov/cgi-bin/dsviewer.pl?ds_id=1339
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 10 Jan 2019 20:16:16 GMT
- request:
    method: get
    uri: https://daac.ornl.gov/cgi-bin/dsviewer.pl?ds_id=1339
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: ASCII-8BIT
      string: "\n<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n<meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge\">\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n<meta name=\"description\" content=\"ORNL DAAC: This data
        set contains in-situ soil moisture profile and soil temperature data collected
        at 20-minute intervals at SoilSCAPE (Soil moisture Sensing Controller and
        oPtimal Estimator) project sites in four states (California, Arizona, Oklahoma,
        and Mich[...]
