---
http_interactions:
- request:
    method: get
    uri: https://daac.ornl.gov/cgi-bin/dsviewer.pl?ds_id=1418
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: ASCII-8BIT
      string: "\n<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n<meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge\">\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n<meta name=\"description\" content=\"ORNL DAAC: This dataset
        provides level 2/3 root zone soil moisture (RZSM) estimates at multiple depths
        at 90-m spatial resolution from the Airborne Microwave Observatory of Subcanopy
        and Subsurface (AirMOSS) radar instrument collected over ten sites across
        North America. AirMOSS produces estimates of RZSM with data from a P-band
        synthetic aperture radar (SAR) flown on a NASA Gulfstream-III aircraft. The
        resulting soil moisture estimates capture the effects of gradients of soil,
        topography, and vegetation heterogeneity over an area of approximately 100km
        x 25km at each of the study sites. AirMOSS flight campaigns took place at
        least biannually from 2012 to 2015 at each site.\">\n<meta name=\"keywords\"
        content=\" drought, ecosystem ecology, root zone soil moisture, P-band SAR,synthetic
        aperture radar, carbon flux,LAND SURFACE > SOILS > SOIL MOISTURE/WATER CONTENT,AIRCRAFT
        > RADAR\">\n<title>AirMOSS: L2/3 Volumetric Soil Moisture Profiles Derived
        From Radar, 2012-2015, https://doi.org/10.3334/ORNLDAAC/1418</title>\n<link
        rel=\"stylesheet\" href=\"/js/datatables/datatables.ornldaacCustom.min.css\">\n<link
        rel=\"stylesheet\" href=\"/css/new.css\">\n<link rel=\"stylesheet\" href=\"/css/datasetlister.min.css\">\n<script
        type=\"application/ld+json\">{\"sourceOrganization\":\"ORNL DAAC\",\"creator\":[{\"name\":\"MOGHADDAM,
        M.\",\"@type\":\"Person\"},{\"name\":\"TABATABAEENEJAD, A.\",\"@type\":\"Person\"},{\"name\":\"CHEN,
        R.H.\",\"@type\":\"Person\"},{\"name\":\"SAATCHI, S.S.\",\"@type\":\"Person\"},{\"name\":\"JARUWATANADILOK,
        S.\",\"@type\":\"Person\"},{\"name\":\"BURGIN, M.\",\"@type\":\"Person\"},{\"name\":\"DUAN,
        X.\",\"@type\":\"Person\"},{\"name\":\"TRUONG-LOI, M.L.\",\"@type\":\"Person\"}],\"publishingPrinciples\":\"https://daac.ornl.gov/PI/archive.shtml\",\"isAccessibleForFree\":\"true\",\"keywords\":[\"
        drought\",\" ecosystem ecology\",\" root zone soil moisture\",\" P-band SAR\",\"synthetic
        aperture radar\",\" carbon flux\",\"LAND SURFACE > SOILS > SOIL MOISTURE/WATER
        CONTENT\",\"AIRCRAFT > RADAR\"],\"spatialCoverage\":{\"geo\":{\"box\":\"9.87958
        -123.283 54.1254 -68.3196\",\"@type\":\"GeoShape\"},\"@type\":\"Place\"},\"url\":\"https://doi.org/10.3334/ORNLDAAC/1418\",\"about\":{\"url\":\"https://daac.ornl.gov/AIRMOSS/guides/AirMOSS_L2_3_RZ_Soil_Moisture.html\",\"name\":\"User
        Guide\",\"@type\":\"WebPage\"},\"publisher\":{\"logo\":\"https://daac.ornl.gov/graphics/daac_logo.png\",\"contactPoint\":{\"email\":\"uso@daac.ornl.gov\",\"telephone\":\"+18652413952\",\"contactType\":\"customer
        support\",\"name\":\"ORNL DAAC User Support Office\",\"@type\":\"ContactPoint\"},\"name\":\"ORNL
        DAAC\",\"url\":\"https://daac.ornl.gov\",\"@type\":\"Organization\"},\"@type\":\"DataSet\",\"citation\":\"Moghaddam,
        M., A. Tabatabaeenejad, R.H. Chen, S.S. Saatchi, S. Jaruwatanadilok, M. Burgin,
        X. Duan, and M.L. Truong-Loi. 2016. AirMOSS: L2/3 Volumetric Soil Moisture
        Profiles Derived From Radar, 2012-2015. ORNL DAAC, Oak Ridge, Tennessee, USA.
        http://dx.doi.org/10.3334/ORNLDAAC/1418\",\"dateCreated\":\"2018-03-06\",\"locationCreated\":\"Oak
        Ridge, Tennessee, USA\",\"thumbnailUrl\":\"\",\"temporalCoverage\":\"2012-09-18/2015-09-29\",\"version\":\"1.1\",\"name\":\"AirMOSS:
        L2/3 Volumetric Soil Moisture Profiles Derived From Radar, 2012-2015\",\"description\":\"This
        dataset provides level 2/3 root zone soil moisture (RZSM) estimates at multiple
        depths at 90-m spatial resolution from the Airborne Microwave Observatory
        of Subcanopy and Subsurface (AirMOSS) radar instrument collected over ten
        sites across North America. AirMOSS produces estimates of RZSM with data from
        a P-band synthetic aperture radar (SAR) flown on a NASA Gulfstream-III aircraft.
        The resulting soil moisture estimates capture the effects of gradients of
        soil, topography, and vegetation heterogeneity over an area of approximately
        100km x 25km at each of the study sites. AirMOSS flight campaigns took place
        at least biannually from 2012 to 2015 at each site.\",\"sameAs\":\"https://daac.ornl.gov/cgi-bin/dsviewer.pl?ds_id=1418\",\"distribution\":[{\"url\":\"https://daac.ornl.gov/daacdata/airmoss/campaign/AirMOSS_L2_3_RZ_Soil_Moisture/\",\"name\":\"Direct
        Access: AirMOSS: L2/3 Volumetric Soil Moisture Profiles Derived From Radar,
        2012-2015\",\"description\":\"This link allows direct data access via Earthdata
        Login to: AirMOSS: L2/3 Volumetric Soil Moisture Profiles Derived From Radar,
        2012-2015\",\"@type\":\"DataDownload\"},{\"contentSize\":\"2.3GB\",\"url\":\"https://daac.ornl.gov/cgi-bin/download.pl?ds_id=1418&source=schema_org_metadata\",\"name\":\"Download
        Dataset: AirMOSS: L2/3 Volumetric Soil Moisture Profiles Derived From Radar,
        2012-2015\",\"description\":\"Download entire dataset bundle: AirMOSS: L2/3
        Volumetric Soil Moisture Profiles Derived From Radar, 2012-2015\",\"@type\":\"DataDownload\"},{\"url\":\"https://thredds.daac.ornl.gov/thredds/catalog/ornldaac/1418/catalog.html\",\"name\":\"TDS
        (THREDDS Data Server) location for: AirMOSS: L2/3 Volumetric Soil Moisture
        Profiles Derived From Radar, 2012-2015\",\"description\":\"The ORNL DAAC's
        Thematic Real-time Environmental Distributed Data Services (THREDDS) Data
        Server (TDS) serves the ontents of selected ORNL DAAC datasets through a catalog
        service and several data access services, that allow users to find and access
        datasets of interest from within a simple, hierarchal catalog within a web
        browser or a compatible client software.\",\"@type\":\"DataDownload\"}],\"datePublished\":\"2018-03-06\",\"includedInDataCatalog\":[{\"url\":\"https://daac.ornl.gov/cgi-bin/dataset_lister.pl?p=36\",\"name\":\"Airborne
        Microwave Observatory of Subcanopy and Subsurface (AirMOSS)\",\"@type\":\"DataCatalog\"},{\"url\":\"https://search.earthdata.nasa.gov/search\",\"name\":\"NASA
        Earthdata Search\",\"@type\":\"DataCatalog\"}],\"@context\":\"https://schema.org\",\"@id\":\"https://doi.org/10.3334/ORNLDAAC/1418\"}</script>\n<meta
        name=\"citation_publication_date\" content=\"2018-03-06\">\n<meta name=\"citation_author\"
        content=\"MOGHADDAM, M.;TABATABAEENEJAD, A.;CHEN, R.H.;SAATCHI, S.S.;JARUWATANADILOK,
        S.;BURGIN, M.;DUAN, X.;TRUONG-LOI, M.L.\">\n<meta name=\"citation_title\"
        content=\"AirMOSS: L2/3 Volumetric Soil Moisture Profiles Derived From Radar,
        2012-2015\">\n<meta name=\"citation_keywords\" content=\" drought, ecosystem
        ecology, root zone soil moisture, P-band SAR,synthetic aperture radar, carbon
        flux,LAND SURFACE > SOILS > SOIL MOISTURE/WATER CONTENT,AIRCRAFT > RADAR\">\n<meta
        name=\"citation_doi\" content=\"https://doi.org/10.3334/ORNLDAAC/1418\">\n<meta
        name=\"citation_journal_title\" content=\"ORNL DAAC\">\n</head>\n<body>\n<div
        class=\"pagebox\">\n\n<a id=\"skip-nav\" href=\"#main-content\">Skip to main
        content</a><header class=\"headerbox\"> <!-- begin headerbox container div
        --><div class=\"headerpicbox\"><a id=\"daac-link\" href=\"/\" title=\"ORNL
        DAAC\">ORNL DAAC Home</a><a id=\"nasa-link\" href=\"https://www.nasa.gov\"
        title=\"NASA\" target=\"_blank\">NASA Home</a><nav class=\"menubox\"><ul class=\"nav\">\n\t<li
        class=\"top first home\"><a class=\"top_link\" href=\"/\" title=\"ORNL DAAC
        home\"><span class=\"fa fa-home fa-fw\"></span><span class=\"home_text down\">Home</span></a>\n\t\t<ul
        class=\"contact_link\">\n\t\t\t<li><a href=\"javascript:feedback.showForm();\"
        class=\"top_link\" title=\"User's Service Office\" id=\"Contact\"><span class=\"fa
        fa-comment fa-flip-horizontal fa-fw\"></span><span class=\"down\">Contact
        Us</span></a></li>\n\t\t</ul>\n\t</li>\n\t<li class=\"top\"><a href=\"/about/\"
        class=\"top_link\"><span class=\"down\">About Us</span></a>\n\t\t<ul class=\"sub\">\n\t\t\t<!--
        <li><a href=\"/about_us.shtml\"><span>About ORNL DAAC</span></a></li> -->\n\t\t\t<![...]
