---
http_interactions:
- request:
    method: get
    uri: https://www.zenodo.org/record/1196821
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1522577261'
      Retry-After:
      - '3598'
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\">\n  <head>\n\n    <meta
        charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <meta name=\"google-site-verification\" content=\"5fPGCLllnWrvFxH9QWI0l1TadV7byeEvfPcyK2VkS_s\"/>\n
        \   <meta name=\"google-site-verification\" content=\"Rp5zp04IKW-s1IbpTOGB7Z6XY60oloZD5C3kTM-AiY4\"/>\n
        \   <title>PsPM-SC4B: SCR, ECG, EMG, PSR and respiration measurements in a
        delay fear conditioning task with auditory CS and electrical US | Zenodo</title>\n
        \   <link rel=\"shortcut icon\" href=\"/static/favicon.ico\"/>\n    <link
        rel=\"apple-touch-icon-precomposed\" sizes=\"144x144\" href=\"/static/apple-touch-icon-144-precomposed.png\"/>\n
        \   <link rel=\"apple-touch-icon-precomposed\" sizes=\"114x114\" href=\"/static/apple-touch-icon-114-precomposed.png\"/>\n
        \   <link rel=\"apple-touch-icon-precomposed\" sizes=\"72x72\" href=\"/static/apple-touch-icon-72-precomposed.png\"/>\n
        \   <link rel=\"apple-touch-icon-precomposed\" sizes=\"57x57\" href=\"/static/apple-touch-icon-57-precomposed.png\"/>\n<link
        href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,100,italic\"
        rel=\"stylesheet\">\n<link href=\"/static/gen/zenodo.7a13b2d4.css\" rel=\"stylesheet\">\n<!--
        HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        -->\n<!--[if lt IE 9]>\n  <script src=\"https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js\"></script>\n
        \ <script src=\"https://oss.maxcdn.com/respond/1.4.2/respond.min.js\"></script>\n<![endif]-->\n
        \ \n    <meta name=\"description\" content=\"This dataset includes pupil size
        response (PSR), skin conductance response (SCR), electrocardiogram (ECG),
        electromyogram (EMG) and respiration measurements. Also included are CS and
        US information, keypress responses, keypress response times,[...]
