---
http_interactions:
- request:
    method: get
    uri: https://doi.org/10.4230/lipics.tqc.2013.93
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: ''
    headers:
      Location:
      - http://data.datacite.org/10.4230%2Flipics.tqc.2013.93
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="http://data.datacite.org/10.4230%2Flipics.tqc.2013.93">http://data.datacite.org/10.4230%2Flipics.tqc.2013.93</a></body></html>
  recorded_at: Sat, 18 Feb 2017 08:06:00 GMT
- request:
    method: get
    uri: http://data.datacite.org/10.4230%2Flipics.tqc.2013.93
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      Content-Type:
      - text/html
      Location:
      - https://data.datacite.org/10.4230%2Flipics.tqc.2013.93
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>openresty/1.11.2.2</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 18 Feb 2017 08:06:00 GMT
- request:
    method: get
    uri: https://data.datacite.org/10.4230%2Flipics.tqc.2013.93
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.datacite.datacite+xml
      Last-Modified:
      - Wed, 13 Nov 2013 13:42:17 GMT
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<resource xmlns=\"http://datacite.org/schema/kernel-2.1\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://datacite.org/schema/kernel-2.1
        http://schema.datacite.org/meta/kernel-2.1/metadata.xsd\">\n<identifier identifierType=\"DOI\">10.4230/LIPIcs.TQC.2013.93</identifier>\n<creators>\n<creator>\n<creatorName>Johnston,
        Nathaniel</creatorName>\n</creator>\n</creators>\n<titles>\n\t<title>The Minimum
        Size of Qubit Unextendible Product Bases</title>\n</titles>\n<publisher>Schloss
        Dagstuhl - Leibniz-Zentrum fuer Informatik GmbH, Wadern/Saarbruecken, Germany</publisher>\n<publicationYear>2013</publicationYear>\n<subjects>\n\t<subject>Computer
        Science</subject>\n\t<subject subjectScheme=\"DDC\">000 Computer science,
        knowledge, general works</subject>\n</subjects>\n<contributors>\n\t<contributor
        contributorType=\"Editor\">\n\t\t<contributorName>Herbstritt, Marc</contributorName>\n\t</contributor>\n</contributors>\n<dates>\n\t<date
        dateType=\"Available\">2013-11-05</date>\n</dates>\n<language>eng</language>\n<resourceType
        resourceTypeGeneral=\"Text\">ConferencePaper</resourceType>\n<sizes>\n\t<size>13
        pages</size>\n</sizes>\n<formats>\n\t<format>application/pdf</format>\n</formats>\n<version>1.0</version>\n<rights>Creative
        Commons Attribution 3.0 Unported license (CC-BY 3.0)</rights>\n<descriptions>\n\t<description
        descriptionType=\"Other\">\n\tWe investigate the problem of constructing unextendible
        product bases in the qubit case - that is, when each local dimension equals
        2. The cardinality of the smallest unextendible product basis is known in
        all qubit cases except when the number of parties is a multiple of 4 greater
        than 4 itself. We construct small unextendible product bases in all of the
        remaining open cases, and we use graph theory techniques to produce a computer-assisted
        proof that our constructions are indeed the smallest possible.\n\t</description>\n</descriptions>\n</resource>\n"
  recorded_at: Sat, 18 Feb 2017 08:06:00 GMT
[...]
- request:
    method: get
    uri: http://drops.dagstuhl.de/opus/volltexte/2013/4317/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Last-Modified:
      - Fri, 06 Nov 2015 12:44:15 GMT
      Etag:
      - '"15601a-1ddd-99e225c0"'
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<HTML>\n<HEAD>\n<meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=iso-8859-1\">\n<META NAME=\"DC.Publisher\" CONTENT=\"Schloss Dagstuhl
        - Leibniz-Zentrum fuer Informatik\">\n<META NAME=\"citation_conference_title\"
        CONTENT=\"8th Conference on the Theory of Quantum Computation, Communication
        and Cryptography (TQC 2013)\">\n<META NAME=\"citation_journal_title\" CONTENT=\"LIPIcs
        - Leibniz International Proceedings in Informatics\">\n<META NAME=\"citation_issn\"
        CONTENT=\"1868-8969\">\n<META NAME=\"citation_isbn\" CONTENT=\"978-3-939897-55-2\">\[...]
[...]
