---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/brian-j-smith/Mamba.jl/releases/tags/v0.4.8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1487009114'
      Etag:
      - '"901610703472dff12afd2e8ed9e610bf"'
      Last-Modified:
      - Thu, 21 May 2015 02:27:36 GMT
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/brian-j-smith/Mamba.jl/releases/1320710","assets_url":"https://api.github.com/repos/brian-j-smith/Mamba.jl/releases/1320710/assets","upload_url":"https://uploads.github.com/repos/brian-j-smith/Mamba.jl/releases/1320710/assets{?name,label}","html_url":"https://github.com/brian-j-smith/Mamba.jl/releases/tag/v0.4.8","id":1320710,"tag_name":"v0.4.8","target_commitish":"master","name":"Mamba
        0.4.8","draft":false,"author":{"login":"brian-j-smith","id":7605459,"avatar_url":"https://avatars.githubusercontent.com/u/7605459?v=3","gravatar_id":"","url":"https://api.github.com/users/brian-j-smith","html_url":"https://github.com/brian-j-smith","followers_url":"https://api.github.com/users/brian-j-smith/followers","following_url":"https://api.github.com/users/brian-j-smith/following{/other_user}","gists_url":"https://api.github.com/users/brian-j-smith/gists{/gist_id}","starred_url":"https://api.github.com/users/brian-j-smith/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brian-j-smith/subscriptions","organizations_url":"https://api.github.com/users/brian-j-smith/orgs","repos_url":"https://api.github.com/users/brian-j-smith/repos","events_url":"https://api.github.com/users/brian-j-smith/events{/privacy}","received_events_url":"https://api.github.com/users/brian-j-smith/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2015-05-21T01:52:37Z","published_at":"2015-05-21T02:27:36Z","assets":[],"tarball_url":"https://api.github.com/repos/brian-j-smith/Mamba.jl/tarball/v0.4.8","zipball_url":"https://api.github.com/repos/brian-j-smith/Mamba.jl/zipball/v0.4.8","body":""}'
  recorded_at: Wed, 24 Jun 2015 22:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/users/brian-j-smith
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1487009114'
      Etag:
      - '"7ff4de1b9bb85b9edb4aa2439b323774"'
      Last-Mo[...]
