---
http_interactions:
- request:
    method: get
    uri: https://app.datacite.org/prefixes/10.7554
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"381993dc8a6b0f20960c96a3639c0284"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.7554","type":"prefixes","attributes":{"registration-agency":"Crossref","created":null,"updated":"2016-09-21T21:07:27Z"},"relationships":{"clients":{"data":[]},"providers":{"data":[]}}},"included":[]}'
  recorded_at: Thu, 06 Sep 2018 07:22:30 GMT
recorded_with: VCR 3.0.3
