---
http_interactions:
- request:
    method: get
    uri: https://app.datacite.org/prefixes/10.7554
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"258c3a49bbc303b1229efe2fae9cc9e2"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.7554","type":"handles","attributes":{"registration-agency":"Crossref","created":null,"updated":"2016-09-21T21:07:27Z"},"relationships":{"clients":{"data":[]},"providers":{"data":[]}}}}'
  recorded_at: Sun, 18 Mar 2018 06:54:15 GMT
recorded_with: VCR 3.0.3
