---
http_interactions:
- request:
    method: get
    uri: https://app.datacite.org/prefixes/10.5061
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"ab87f7c9e5bb4dd57ab48a7c818d213e"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5061","type":"prefixes","attributes":{"registration-agency":"DataCite","created":"2010-01-01T00:00:00.000Z","updated":null},"relationships":{"clients":{"data":[{"id":"cdl.dryad","type":"clients"}]},"providers":{"data":[{"id":"cdl","type":"providers"}]}}},"included":[{"id":"cdl.dryad","type":"clients","attributes":{"name":"Dryad","symbol":"CDL.DRYAD","year":2013,"contact-name":"Greg
        Janee","contact-email":"gjanee@ucop.edu","domains":"*","url":null,"is-active":true,"has-password":false,"created":"2013-02-19T17:42:03Z","updated":"2018-04-01T02:30:15Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"meta":{}},"repository":{"meta":{}}}},{"id":"cdl","type":"providers","attributes":{"name":"California
        Digital Library","symbol":"CDL","website":"http://ezid.cdlib.org","contact-name":"Greg
        Janee","contact-email":"gjanee@ucop.edu","phone":"+1-510-987-0469","description":"California
        Digital Library (CDL) handles scholarly information at every stage of its
        life. CDL provides technology and expertise to help the University of California
        (UC) collect, publish, access, and preserve its full range of information
        resources. CDL partners with organizations outside the UCs on far-reaching
        problems.\n\nCDL offers DataCite DOIs to University of California scholars
        and researchers via the EZID service. EZID is also available as a general
        identifier service to help educational, non-profit, governmental and commercial
        clients create and manage globally unique identifiers for data and other sources.","country":"US","logo-url":"https://assets.datacite.org/images/members/cdl.png","institution-type":null,"is-active":true,"has-password":true,"joined":"2009-12-01","created":"2010-01-01T00:00:00.000Z","updated":"2018-04-01T02:25:51.000Z"},"relationships":{"clients":{"meta":{}},"prefixes":{"meta":{}}}}]}'
  recorded_at: Sun, 01 Apr 2018 09:07:30 GMT
recorded_with: VCR 3.0.3
