---
http_interactions:
- request:
    method: get
    uri: https://app.datacite.org/prefixes/10.3980
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"feb91682cd56bffc71f1169c6c0f263a"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.3980","type":"prefixes","attributes":{"registration-agency":"ISTIC","created":null,"updated":"2016-09-20T21:59:03Z"},"relationships":{"clients":{"data":[]},"providers":{"data":[]}}},"included":[]}'
  recorded_at: Thu, 06 Sep 2018 07:22:28 GMT
recorded_with: VCR 3.0.3
