---
http_interactions:
- request:
    method: get
    uri: https://app.datacite.org/prefixes/10.3980
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"000fecca6416b8e7634edbc0a8e596f2"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.3980","type":"prefixes","attributes":{"registration-agency":"ISTIC","created":null,"updated":"2016-09-20T21:59:03Z"},"relationships":{"clients":{"data":[]},"providers":{"data":[]}}}}'
  recorded_at: Sun, 25 Feb 2018 14:11:49 GMT
recorded_with: VCR 3.0.3
