---
http_interactions:
- request:
    method: get
    uri: https://app.datacite.org/prefixes/10.3980
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"d83540821b6bb348d4d7421475d4b934"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.3980","type":"handles","attributes":{"registration-agency":"ISTIC","created":null,"updated":"2016-09-20T21:59:03Z"},"relationships":{"clients":{"data":[]},"providers":{"data":[]}}}}'
  recorded_at: Sun, 01 Apr 2018 09:08:15 GMT
recorded_with: VCR 3.0.3
