---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.3980
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"622f4d07c90066bea8efc2105d2bf20c"
      Status:
      - 200 OK
      X-Ratelimit-Limit-Hour:
      - '100000'
      X-Ratelimit-Remaining-Hour:
      - '99961'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.3980","type":"prefixes","attributes":{"registration-agency":"10.SERV/ISTIC","updated":"2016-09-20T21:59:03Z"}}}'
  recorded_at: Sat, 05 Aug 2017 13:27:08 GMT
recorded_with: VCR 3.0.3
