---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?defType=edismax&fl=doi,url,xml,state,allocator_symbol,datacentre_symbol,media,minted,updated&q=10.6084/m9.figshare.3479141%2520&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":11},"response":{"numFound":0,"start":0,"docs":[]}}

'
  recorded_at: Mon, 21 May 2018 15:01:12 GMT
recorded_with: VCR 3.0.3
