---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/dois/10.17182/hepdata.77274.v1?include=media,client
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"dec290c86cd1dfad6dec2595b80b66d7"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.17182/hepdata.77274.v1","type":"dois","attributes":{"doi":"10.17182/hepdata.77274.v1","prefix":"10.17182","suffix":"hepdata.77274.v1","identifiers":[],"alternateIdentifiers":[],"creators":[{"name":"Adam,
        Jaroslav","nameType":"Personal","givenName":"Jaroslav","familyName":"Adam","affiliation":["Prague,
        Tech. U."],"nameIdentifiers":[]},{"name":"Adamova, Dagmar","nameType":"Personal","givenName":"Dagmar","familyName":"Adamova","affiliation":["Rez,
        Nucl. Phys. Inst."],"nameIdentifiers":[]},{"name":"Aggarwal, Madan Mohan","nameType":"Personal","givenName":"Madan
        Mohan","familyName":"Aggarwal","affiliation":["Panjab U."],"nameIdentifiers":[]},{"name":"Aglieri
        Rinella, Gianluca","nameType":"Personal","givenName":"Gianluca","familyName":"Aglieri
        Rinella","affiliation":["CERN"],"nameIdentifiers":[][...]
