---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/dois/10.17182/hepdata.77274.v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"b62b9cc7b2dd1ea20eef1ae30abc7e46"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.17182/hepdata.77274.v1","type":"dois","attributes":{"doi":"10.17182/hepdata.77274.v1","prefix":"10.17182","suffix":"hepdata.77274.v1","identifiers":[{"identifier":"https://doi.org/10.17182/hepdata.77274.v1","identifierType":"DOI"},{"identifier":"\n            http://www.hepdata.net/record/ins1464839\n        ","identifierType":"HEPDataRecord"},{"identifier":"\n            http://www.hepdata.net/record/77274\n        ","identifierType":"HEPDataRecordAlt"},{"identifier":"\n            http://www.hepdata.net/download/submission/77274/root\n        ","identifierType":"ROOTDownload"},{"identifier":"\n            http://www.hepdata.net/download/submission/77274/yaml\n        ","identifierType":"YAMLDownload"},{"identifier":"\n            http://www.hepdata.net/download/submission/77274/csv\n        ","identifierType":"CSVDownload"},{"identifier":"\n            http://www.hepdata.net/download/submission/77274/yoda\n        ","identifierType":"YODADownload"}],"creators":[{"name":"Adam,
        Jaroslav","nameType":"Personal","givenName":"Jaroslav","familyName":"Adam","affiliation":"Prague,
        Tech. U."},{"name":"Adamova, Dagmar","nameType":"Personal","givenName":"Dagmar","familyName":"Adamova","affiliation":"Rez,
        Nucl. Phys. Inst."},{"name":"Aggarwal, Madan Mohan","nameType":"Personal","givenName":"Madan
        Mohan","familyName":"Aggarwal","affiliation":"Panjab U."},{"name":"Aglieri
        Rinella, Gianluca","nameType":"Personal","givenName":"Gianluca","familyName":"Aglieri
        Rinella","affiliation":"CERN"},{"name":"Agnello, Michelangelo","nameType":[...]
