---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.5438
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.5438",
            "RA": "DataCite"
          }
        ]
  recorded_at: Sun, 06 Jun 2021 11:59:26 GMT
- request:
    method: get
    uri: https://api.datacite.org/dois/10.5438/4k3m-nyvg?include=media,client
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"f8dbc384431751d294de51eab1065022"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5438/4k3m-nyvg","type":"dois","attributes":{"doi":"10.5438/4k3m-nyvg","prefix":"10.5438","suffix":"4k3m-nyvg","identifiers":[],"alternateIdentifiers":[],"creators":[{"name":"Fenner,
        Martin","nameType":null,"givenName":"Martin","familyName":"Fenner","affiliation":[],"nameIdentifiers":[{"schemeUri":"https://orcid.org","nameIdentifier":"https://orcid.org/0000-0003-1419-2405","nameIdentifierScheme":"ORCID"}]}],"titles":[{"lang":null,"title":"Eating
        your own Dog Food","titleType":null}],"publisher":"DataCite","container":{"type":"Series","identifier":"10.5438/0000-00SS","identifierType":"DOI"},"publicationYear":2016,"subjects":[{"subject":"datacite"},{"subject":"doi"},{"subject":"metadata"},{"subject":"FOS:
        Computer and information sciences","subjectScheme":"Fields of Science and
        Technology (FOS)"}],"contributors":[],"dates":[{"date":"2016-12-20","dateType":"Created","dateInformation":null},{"date":"2016-12-20","dateType":"Issued","dateInformation":null},{"date":"2016-12-20","dateType":"Updated","dateInformation":null}],"language":"en","types":{"ris":"RPRT","bibtex":"article","citeproc":"article-journal","schemaOrg":"ScholarlyArticle","resourceType":"BlogPosting","resourceTypeGeneral":"Text"},"relatedIdentifiers":[{"schemeUri":null,"schemeType":null,"relationType":"References","relatedIdentifier":"10.5438/0012","resourceTypeGeneral":null,"relatedIdentifierType":"DOI","relatedMetadataScheme":null},{"schemeUri":null,"schemeType":null,"relationType":"References","relatedIdentifier":"10.5438/55e5-t5c0","resourceTypeGeneral":null,"relatedIdentifierType":"DOI","relatedMetadataScheme":null},{"schemeUri":null,"schemeType":null,"relationType":"IsPartOf","relatedIdentifier":"10.5438/0000-00ss","resourceTypeGeneral":null,"relatedIdentifierType":"DOI","relatedMetadataScheme":null}],"sizes":[],"formats":[],"version":"1.0","rightsList":[{"rights":"Creative
        Commons Attribution 4.0 International","rightsUri":"https://creativecommons.org/licenses/by/4.0/legalcode","schemeUri":"https://spdx.org/licenses/","rightsIdentifier":"cc-by-4.0","rightsIdentifierScheme":"SPDX"}],"descriptions":[{"lang":null,"description":"Eating
        your own dog food is a slang term to describe that an organization should
        itself use the products and services it provides. For DataCite this means
        that we should use DOIs with appropriate metadata and strategies for long-term
        preservation for...","descriptionType":"Abstract"}],"geoLocations":[],"fundingReferences":[],"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00L21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNTQzOC80SzNNLU5ZVkc8L2lkZW50aWZpZXI+CiAgPGNyZWF0b3JzPgogICAgPGNyZWF0b3I+CiAgICAgIDxjcmVhdG9yTmFtZT5GZW5[...]
