---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.16910/jemr.9.1.2/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.16910/jemr.9.1.2>; rel="canonical", <https://bop.unibe.ch/JEMR/article/download/2430/3624>;
        version="vor"; type="application/pdf"; rel="item", <https://bop.unibe.ch/JEMR/article/download/2430/3624>;
        version="vor"; rel="item"
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"journal_article\">10.16910/jemr.9.1.2</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">University of Bern</crm-item>\r\n
        \       <crm-item name=\"prefix-name\" type=\"string\">University of Bern</crm-item>\r\n
        \       <crm-item name=\"member-id\" type=\"number\">22676</crm-item>\r\n
        \       <crm-item name=\"citation-id\" type=\"number\">124518013</crm-item>\r\n
        \       <crm-item name=\"journal-id\" type=\"number\">421317</crm-item>\r\n
        \       <crm-item name=\"deposit-timestamp\" type=\"number\">1614427024</crm-item>\r\n
        \       <crm-item name=\"owner-prefix\" type=\"string\">10.16910</crm-item>\r\n
        \       <crm-item name=\"last-update\" type=\"date\">2021-02-27T11:57:27Z</crm-item>\r\n
        \       <crm-item name=\"created\" type=\"date\">2021-02-27T11:57:27Z</crm-item>\r\n
        \       <crm-item name=\"citedby-count\" type=\"number\">3</crm-item>\r\n
        \       <crm-item name=\"relation\" type=\"doi\" claim=\"cites\">10.3390/s18061822</crm-item>\r\n
        \       <doi_record>\r\n          <crossref xmlns=\"http://www.crossref.org/xschema/1.1\"
        xsi:schemaLocation=\"http://www.crossref.org/xschema/1.1 http://doi.crossref.org/schemas/unixref1.1.xsd\">\r\n
        \           <journal>\r\n              <journal_metadata>\r\n                <full_title>Journal
        of Eye Movement Research</full_title>\r\n                <abbrev_title>JEMR</abbrev_title>\r\n
        \               <issn media_type=\"electronic\">1995-8692</issn>\r\n              </journal_metadata>\r\n
        \             <journal_issue>\r\n                <publication_date media_type=\"online\">\r\n
        \                 <month>02</month>\r\n                  <day>10</day>\r\n
        \                 <year>2016</year>\r\n                </publication_date>\r\n
        \               <journal_volume>\r\n                  <volume>9</volume>\r\n
        \               </journal_volume>\r\n                <issue>1</issue>\r\n
        \             </journal_issue>\r\n              <journal_article xmlns:jats=\"http://www.ncbi.nlm.nih.gov/JATS1\"
        publication_type=\"full_text\" metadata_distribution_opts=\"any\">\r\n                <titles>\r\n
        \                 <title>Eye tracking scanpath analysis techniques on web
        pages: A survey, evaluation and comparison</title>\r\n                </titles>\r\n
        \               <contributors>\r\n                  <person_name contributor_role=\"author\"
        sequence=\"first\">\r\n                    <given_name>Sukru</given_name>\r\n
        \                   <surname>Eraslan</surname>\r\n                  </person_name>\r\n
        \                 <person_name contributor_role=\"author\" sequence=\"additional\">\r\n
        \                   <given_name>Yeliz</given_name>\r\n                    <surname>Yesilada</surname>\r\n
        \                 </person_name>\r\n                  <person_name contributor_role=\"author\"
        sequence=\"additional\">\r\n                    <given_name>Simon</given_name>\r\n
        \                   <surname>Harper</surname>\r\n                  </person_name>\r\n
        \               </contributors>\r\n                <jats:abstract>\r\n                  <jats:p>Eye
        tracking has commonly been used to investigate how users interact with web
        pages, with the goal of improving their usability. This article comprehensively
        revisits the techniques that could be applicable to eye tracking data for
        analysing user scanpaths on web pages. It also uses a third-party eye tracking
        study to compare these techniques. This allows researchers to recognise existing
        techniques for their goals, understand how they work and kn[...]
