---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.6080
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.6080",
            "RA": "DataCite"
          }
        ]
  recorded_at: Thu, 13 Feb 2020 17:36:13 GMT
- request:
    method: get
    uri: https://api.datacite.org/dois/10.6080/k0f769gp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"061643d3e6a77e7cb2e157aab4f842a2"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.6080/k0f769gp","type":"dois","attributes":{"doi":"10.6080/k0f769gp","prefix":"10.6080","suffix":"k0f769gp","identifiers":[{"identifier":"https://doi.org/10.6080/k0f769gp","identifierType":"DOI"}],"creators":[{"name":"Theunissen,
        Frederic E.","nameType":"Personal","givenName":"Frederic E.","familyName":"Theunissen","affiliation":[]},{"name":"Hauber,
        ME","nameType":"Personal","givenName":"ME","familyName":"Hauber","affiliation":[]},{"name":"Woolley,
        Sarah M. N.","nameType":"Personal","givenName":"Sarah M. N.","familyName":"Woolley","affiliation":[]},{"name":"Gill,
        Patrick","nameType":"Personal","givenName":"Patrick","familyName":"Gill","affiliation":[]},{"name":"Shaevitz,
        SS","nameType":"Personal","givenName":"SS","familyName":"Shaevitz","affiliation":[]},{"name":"Amin,
        Noopur","na[...]
