---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.1392
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"f8c9b097aad19d4351c99fa3da69edd0"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.1392","type":"prefixes","attributes":{"registration-agency":"mEDRA","updated":"2016-09-21T20:02:33Z"}}}'
  recorded_at: Tue, 18 Apr 2017 18:28:56 GMT
recorded_with: VCR 3.0.3
