---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.2973
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.2973",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 06 Jun 2021 11:56:53 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.2973/odp.proc.ir.180.2000/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.2973/odp.proc.ir.180.2000>; rel="canonical"
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"book_title\">10.2973/odp.proc.ir.180.2000</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">International Ocean
        Discovery Program (IODP)</crm-item>\r\n        <crm-item name=\"prefix-name\"
        type=\"string\">International Ocean Discovery Program Texas</crm-item>\r\n
        \       <crm-item name=\"member-id\" type=\"number\">1029</crm-item>\r\n        <crm-item
        name=\"citation-id\" type=\"number\">23807285</crm-item>\r\n        <crm-item
        name=\"book-id\" type=\"number\">284099</crm-item>\r\n        <crm-item name=\"series-id\"
        type=\"number\">283327</crm-item>\r\n        <crm-item name=\"deposit-timestamp\"
        type=\"number\">20061017201744</crm-item>\r\n        <crm-item name=\"owner-prefix\"
        type=\"string\">10.2973</crm-item>\r\n        <crm-item name=\"last-update\"
        type=\"date\">2009-02-02T21:19:43Z</crm-item>\r\n        <crm-item name=\"created\"
        type=\"date\">2006-10-17T19:50:37Z</crm-item>\r\n        <crm-item name=\"citedby-count\"
        type=\"number\">21</crm-item>\r\n        <doi_record>\r\n          <crossref
        xmlns=\"http://www.crossref.org/xschema/1.0\" xsi:schemaLocation=\"http://www.crossref.org/xschema/1.0
        http://doi.crossref.org/schemas/unixref1.0.xsd\">\r\n            <book book_type=\"monograph\">\r\n
        \             <book_metadata language=\"en\">\r\n                <contributors>\r\n
        \                 <person_name sequence=\"first\" contributor_role=\"editor\">\r\n
        \                   <given_name>B.</given_name>\r\n                    <surname>Taylor</surname>\r\n
        \                 </person_name>\r\n                  <person_name sequence=\"additional\"
        contributor_role=\"editor\">\r\n                    <given_name>P.</given_name>\r\n
        \                   <surname>Huchon</surname>\r\n                  </person_name>\r\n
        \                 <person_name sequence=\"additional\" contributor_role=\"editor\">\r\n
        \                   <given_name>A.</given_name>\r\n                    <surname>Klaus</surname>\r\n
        \                 </person_name>\r\n                  <organization sequence=\"additional\"
        contributor_role=\"editor\">et al.</organization>\r\n                </contributors>\r\n
        \               <titles>\r\n                  <title>Proceedings of the Ocean
        Drilling Program, 180 Initial Reports</title>\r\n                </titles>\r\n
        \               <series_metadata>\r\n                  <titles>\r\n                    <title>Proceedings
        of the Ocean Drilling Program</title>\r\n                  </titles>\r\n                </series_metadata>\r\n
        \               <volume>180</volume>\r\n                <publication_date
        media_type=\"online\">\r\n                  <month>02</month>\r\n                  <day>04</day>\r\n
        \                 <year>2000</year>\r\n                </publication_date>\r\n
        \               <publisher>\r\n                  <publisher_name>Ocean Drilling
        Program</publisher_name>\r\n                </publisher>\r\n                <doi_data>\r\n
        \                 <doi>10.2973/odp.proc.ir.180.2000</doi>\r\n                  <resource>http://www-odp.tamu.edu/publications/180_IR/180TOC.HTM</resource>\r\n
        \               </doi_data>\r\n              </book_metadata>\r\n            </book>\r\n
        \         </crossref>\r\n        </doi_record>\r\n      </query>\r\n    </body>\r\n
        \ </query_result>\r\n</crossref_result>"
  recorded_at: Sun, 06 Jun 2021 11:56:53 GMT
recorded_with: VCR 3.0.3
