---
http_interactions:
- request:
    method: get
    uri: https://app.datacite.org/prefixes/10.1007
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"0f55b0f379d47b71b3dda4f8bae6b2b8"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.1007","type":"prefixes","attributes":{"registration-agency":"Crossref","created":null,"updated":"2016-09-21T20:45:22Z"},"relationships":{"clients":{"data":[]},"providers":{"data":[]}}},"included":[]}'
  recorded_at: Thu, 06 Sep 2018 07:23:44 GMT
- request:
    method: get
    uri: http://www.crossref.org/openurl/?format=unixref&id=doi:10.1007/978-3-662-46370-3_13&noredirect=true&pid=tech@datacite.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Crossref-Deployment-Name:
      - qs4-1
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<doi_records>\r\n  <doi_record
        owner=\"10.1007\" timestamp=\"2015-04-13 22:31:13\">\r\n    <crossref>\r\n
        \     <book book_type=\"other\">\r\n        <book_metadata language=\"en\">\r\n
        \         <contributors>\r\n            <person_name contributor_role=\"editor\"
        sequence=\"first\">\r\n              <given_name>Eiji</given_name>\r\n              <surname>Itoi</surname>\r\n
        \           </person_name>\r\n            <person_name contributor_role=\"editor\"
        sequence=\"additional\">\r\n              <given_name>Guillermo</given_name>\r\n
        \             <surname>Arce</surname>\r\n            </person_name>\r\n            <person_name
        contributor_role=\"editor\" sequence=\"additional\">\r\n              <given_name>Gregory
        I.</given_name>\r\n              <surname>Bain</surname>\r\n            </person_name>\r\n
[...]
