---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.1371
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1371",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sat, 06 Jul 2019 20:25:35 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1371/journal.pmed.0030277.g001/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.1371/journal.pmed.0030277.g001>; rel="canonical"
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"component\">10.1371/journal.pmed.0030277.g001</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">Public Library of
        Science (PLoS)</crm-item>\r\n        <crm-item name=\"prefix-name\" type=\"string\">Public
        Library of Science</crm-item>\r\n        <crm-item name=\"member-id\" type=\"number\">340</crm-item>\r\n
        \       <crm-item name=\"citation-id\" type=\"number\">78426024</crm-item>\r\n
        \       <crm-item name=\"journal-id\" type=\"number\">31937</crm-item>\r\n
        \       <crm-item name=\"deposit-timestamp\" type=\"number\">201510161053338750</crm-item>\r\n
        \       <crm-item name=\"owner-prefix\" type=\"string\">10.1371</crm-item>\r\n
        \       <crm-item name=\"last-update\" type=\"date\">2018-10-19T21:13:42Z</crm-item>\r\n
        \       <crm-item name=\"created\" type=\"date\">2015-10-20T20:01:19Z</crm-item>\r\n
        \       <crm-item name=\"citedby-count\" type=\"number\">0</crm-item>\r\n
        \       <crm-item name=\"relation\" type=\"doi\" claim=\"hasComponent\">10.1371/journal.pmed.0030277</crm-item>\r\n
        \       <doi_record>\r\n          <crossref xmlns=\"http://www.crossref.org/xschema/1.1\"
        xsi:schemaLocation=\"http://www.crossref.org/xschema/1.1 http://doi.crossref.org/schemas/unixref1.1.xsd\">\r\n
        \           <sa_component>\r\n              <component_list>\r\n                <component
        reg-agency=\"CrossRef\">\r\n                  <description />\r\n                  <doi_data>\r\n
        \                   <doi>10.1371/journal.pmed.0030277.g001</doi>\r\n                    <resource>https://dx.plos.org/10.1371/journal.pmed.0030277.g001</resource>\r\n
        \                 </doi_data>\r\n                </component>\r\n              </component_list>\r\n
        \           </sa_component>\r\n          </crossref>\r\n        </doi_record>\r\n
        \     </query>\r\n    </body>\r\n  </query_result>\r\n</crossref_result>"
  recorded_at: Sat, 06 Jul 2019 20:25:35 GMT
recorded_with: VCR 3.0.3
