---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.2210
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.2210",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sat, 29 Dec 2018 07:52:33 GMT
- request:
    method: get
    uri: http://www.crossref.org/openurl/?format=unixref&id=doi:10.2210/pdb4hhb/pdb&noredirect=true&pid=tech@datacite.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Crossref-Deployment-Name:
      - cr6-1
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<doi_records>\r\n  <doi_record
        owner=\"10.2210\" timestamp=\"2014-05-27 12:45:59\">\r\n    <crossref>\r\n
        \     <sa_component>\r\n        <component_list>\r\n          <component>\r\n
        \           <titles>\r\n              <title>THE CRYSTAL STRUCTURE OF HUMAN
        DEOXYHAEMOGLOBIN AT 1.74 ANGSTROMS RESOLUTION</title>\r\n            </titles>\r\n
        \           <contributors>\r\n              <person_name sequence=\"first\"
        contributor_role=\"author\">\r\n                <given_name>G.</given_name>\r\n
        \               <surname>Fermi</surname>\r\n              </person_name>\r\n
        \             <person_name sequence=\"additional\" contributor_role=\"author\">\r\n
        \               <given_name>M.F.</given_name>\r\n                <surname>Perutz</surname>\r\n
        \             </person_name>\r\n            </contributors>\r\n            <publication_date
        media_type=\"online\">\r\n              <month>07</month>\r\n              <day>17</day>\r\n
        \             <year>1984</year>\r\n            </publication_date>\r\n            <description>x-ray
        diffraction structure</description>\r\n            <format>gz compressed PDB
        format file</format>\r\n            <doi_data>\r\n              <doi>10.2210/pdb4hhb/pdb</doi>\r\n
        \             <resource>ftp://ftp.wwpdb.org/pub/pdb/data/structures/divided/pdb/hh/pdb4hhb.ent.gz</resource>\r\n
        \           </doi_data>\r\n          </component>\r\n        </component_list>\r\n
        \     </sa_component>\r\n    </crossref>\r\n  </doi_record>\r\n</doi_records>"
  recorded_at: Sat, 29 Dec 2018 07:52:33 GMT
recorded_with: VCR 3.0.3
