---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.2210
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.2210",
            "RA": "Crossref"
          }
        ]
  recorded_at: Wed, 03 Jul 2019 17:23:48 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.2210/pdb4hhb/pdb/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.2210/pdb4hhb/pdb>; rel="canonical"
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"component\">10.2210/pdb4hhb/pdb</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">Protein Data Bank,
        Rutgers University</crm-item>\r\n        <crm-item name=\"prefix-name\" type=\"string\">Protein
        Data Bank</crm-item>\r\n        <crm-item name=\"member-id\" type=\"number\">7763</crm-item>\r\n
        \       <crm-item name=\"citation-id\" type=\"number\">19153065</crm-item>\r\n
        \       <crm-item name=\"deposit-timestamp\" type=\"number\">20081013143407</crm-item>\r\n
        \       <crm-item name=\"owner-prefix\" type=\"string\">10.2210</crm-item>\r\n
        \       <crm-item name=\"last-update\" type=\"date\">2014-05-27T16:45:59Z</crm-item>\r\n
        \       <crm-item name=\"created\" type=\"date\">2006-01-05T00:34:58Z</crm-item>\r\n
        \       <crm-item name=\"citedby-count\" type=\"number\">0</crm-item>\r\n
        \       <doi_record>\r\n          <crossref xmlns=\"http://www.crossref.org/xschema/1.0\"
        xsi:schemaLocation=\"http://www.crossref.org/xschema/1.0 http://doi.crossref.org/schemas/unixref1.0.xsd\">\r\n
        \           <sa_component>\r\n              <component_list>\r\n                <component>\r\n
        \                 <titles>\r\n                    <title>THE CRYSTAL STRUCTURE
        OF HUMAN DEOXYHAEMOGLOBIN AT 1.74 ANGSTROMS RESOLUTION</title>\r\n                  </titles>\r\n
        \                 <contributors>\r\n                    <person_name sequence=\"first\"
        contributor_role=\"author\">\r\n                      <given_name>G.</given_name>\r\n
        \                     <surname>Fermi</surname>\r\n                    </person_name>\r\n
        \                   <person_name sequence=\"additional\" contributor_role=\"author\">\r\n
        \                     <given_name>M.F.</given_name>\r\n                      <surname>Perutz</surname>\r\n
        \                   </person_name>\r\n                  </contributors>\r\n
        \                 <publication_date media_type=\"online\">\r\n                    <month>07</month>\r\n
        \                   <day>17</day>\r\n                    <year>1984</year>\r\n
        \                 </publication_date>\r\n                  <description>x-ray
        diffraction structure</description>\r\n                  <format>gz compressed
        PDB format file</format>\r\n                  <doi_data>\r\n                    <doi>10.2210/pdb4hhb/pdb</doi>\r\n
        \                   <resource>ftp://ftp.wwpdb.org/pub/pdb/data/structures/divided/pdb/hh/pdb4hhb.ent.gz</resource>\r\n
        \                 </doi_data>\r\n                </component>\r\n              </component_list>\r\n
        \           </sa_component>\r\n          </crossref>\r\n        </doi_record>\r\n
        \     </query>\r\n    </body>\r\n  </query_result>\r\n</crossref_result>"
  recorded_at: Wed, 03 Jul 2019 17:23:48 GMT
recorded_with: VCR 3.0.3
