---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.14264
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.14264",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sat, 22 Aug 2020 09:37:48 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.14264/uql.2020.791/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.14264/uql.2020.791>; rel="canonical", <http://orcid.org/0000-0003-3086-4443>;
        title="Patricia Maree Collingwood"; rel="author"
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"dissertation\">10.14264/uql.2020.791</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">University of Queensland
        Library</crm-item>\r\n        <crm-item name=\"prefix-name\" type=\"string\">University
        of Queensland Library</crm-item>\r\n        <crm-item name=\"member-id\" type=\"number\">5387</crm-item>\r\n
        \       <crm-item name=\"citation-id\" type=\"number\">116937436</crm-item>\r\n
        \       <crm-item name=\"book-id\" type=\"number\">1346666</crm-item>\r\n
        \       <crm-item name=\"deposit-timestamp\" type=\"number\">1591592933</crm-item>\r\n
        \       <crm-item name=\"owner-prefix\" type=\"string\">10.14264</crm-item>\r\n
        \       <crm-item name=\"last-update\" type=\"date\">2020-06-08T05:08:59Z</crm-item>\r\n
        \       <crm-item name=\"created\" type=\"date\">2020-06-08T05:08:58Z</crm-item>\r\n
        \       <crm-item name=\"citedby-count\" type=\"number\">0</crm-item>\r\n
        \       <doi_record>\r\n          <crossref xmlns=\"http://www.crossref.org/xschema/1.1\"
        xsi:schemaLocation=\"http://www.crossref.org/xschema/1.1 http://doi.crossref.org/schemas/unixref1.1.xsd\">\r\n
        \           <dissertation>\r\n              <person_name sequence=\"first\"
        contributor_role=\"author\">\r\n                <given_name>Patricia Maree</given_name>\r\n
        \               <surname>Collingwood</surname>\r\n                <ORCID authenticated=\"true\">https://orcid.org/0000-0003-3086-4443</ORCID>\r\n
        \             </person_name>\r\n              <titles>\r\n                <title>School
        truancy and financial independence during emerging adulthood: a longitudinal
        analysis of receipt of and reliance on cash transfers</title>\r\n              </titles>\r\n
        \             <approval_date>\r\n                <month>05</month>\r\n                <day>25</day>\r\n
        \               <year>2020</year>\r\n              </approval_date>\r\n              <institution>\r\n
        \               <institution_name>The University of Queensland</institution_name>\r\n
        \               <institution_department>School of Social Science</institution_department>\r\n
        \             </institution>\r\n              <degree>PhD Thesis</degree>\r\n
        \             <doi_data>\r\n                <doi>10.14264/uql.2020.791</doi>\r\n
        \               <resource>http://espace.library.uq.edu.au/view/UQ:23a1e74</resource>\r\n
        \             </doi_data>\r\n            </dissertation>\r\n          </crossref>\r\n
        \       </doi_record>\r\n      </query>\r\n    </body>\r\n  </query_result>\r\n</crossref_result>"
  recorded_at: Sat, 22 Aug 2020 09:37:49 GMT
recorded_with: VCR 3.0.3
