---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.6002
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.6002",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Jul 2020 11:22:55 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.6002/ect.2015.0371/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.6002/ect.2015.0371>; rel="canonical"
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"journal_issue\">10.6002/ect.2015.0371</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">Baskent University</crm-item>\r\n
        \       <crm-item name=\"prefix-name\" type=\"string\">Baskent University
        Publishers</crm-item>\r\n        <crm-item name=\"member-id\" type=\"number\">4021</crm-item>\r\n
        \       <crm-item name=\"citation-id\" type=\"number\">83601521</crm-item>\r\n
        \       <crm-item name=\"journal-id\" type=\"number\">160826</crm-item>\r\n
        \       <crm-item name=\"deposit-timestamp\" type=\"number\">201810030427</crm-item>\r\n
        \       <crm-item name=\"owner-prefix\" type=\"string\">10.6002</crm-item>\r\n
        \       <crm-item name=\"last-update\" type=\"date\">2018-10-03T12:09:12Z</crm-item>\r\n
        \       <crm-item name=\"citedby-count\" type=\"number\">1</crm-item>\r\n
        \       <doi_record>\r\n          <crossref xmlns=\"http://www.crossref.org/xschema/1.1\"
        xsi:schemaLocation=\"http://www.crossref.org/xschema/1.1 http://doi.crossref.org/schemas/unixref1.1.xsd\">\r\n
        \           <journal>\r\n              <journal_metadata>\r\n                <full_title>Experimental
        and Clinical Transplantation</full_title>\r\n                <abbrev_title>Exp
        Clin Transplant</abbrev_title>\r\n                <issn media_type=\"print\">13040855</issn>\r\n
        \               <issn media_type=\"electronic\">21468427</issn>\r\n                <doi_data>\r\n
        \                 <doi>10.6002/ect</doi>\r\n                  <resource>http://www.ectrx.org/</resource>\r\n
        \               </doi_data>\r\n              </journal_metadata>\r\n              <journal_issue>\r\n
        \               <publication_date media_type=\"print\">\r\n                  <month>10</month>\r\n
        \                 <year>2018</year>\r\n                </publication_date>\r\n
        \               <journal_volume>\r\n                  <volume>16</volume>\r\n
        \               </journal_volume>\r\n                <issue>5</issue>\r\n
        \               <doi_data>\r\n                  <doi>10.6002/ect.2015.0371</doi>\r\n
        \                 <resource>http://ectrx.org/forms/ectrxcontentshow.php?doi_id=10.6002/ect.2015.0371</resource>\r\n
        \               </doi_data>\r\n              </journal_issue>\r\n            </journal>\r\n
        \         </crossref>\r\n        </doi_record>\r\n      </query>\r\n    </body>\r\n
        \ </query_result>\r\n</crossref_result>"
  recorded_at: Sun, 12 Jul 2020 11:22:55 GMT
recorded_with: VCR 3.0.3
