---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.5012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.5012",
            "RA": "KISTI"
          }
        ]
  recorded_at: Sat, 06 Jul 2019 09:02:10 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.5012/bkcs.2013.34.10.2889/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.5012/bkcs.2013.34.10.2889>; rel="canonical", <http://ocean.kisti.re.kr/downfile/crosscheck/chemical/JAKO201332479081554.pdf>;
        version="vor"; rel="item"
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"journal_article\">10.5012/bkcs.2013.34.10.2889</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">Korean Chemical
        Society</crm-item>\r\n        <crm-item name=\"prefix-name\" type=\"string\">Korean
        Chemical Society</crm-item>\r\n        <crm-item name=\"member-id\" type=\"number\">2923</crm-item>\r\n
        \       <crm-item name=\"citation-id\" type=\"number\">65745032</crm-item>\r\n
        \       <crm-item name=\"journal-id\" type=\"number\">98185</crm-item>\r\n
        \       <crm-item name=\"deposit-timestamp\" type=\"number\">20131125165312</crm-item>\r\n
        \       <crm-item name=\"owner-prefix\" type=\"string\">10.5012</crm-item>\r\n
        \       <crm-item name=\"last-update\" type=\"date\">2016-12-15T02:40:52Z</crm-item>\r\n
        \       <crm-item name=\"created\" type=\"date\">2013-11-25T08:03:35Z</crm-item>\r\n
        \       <crm-item name=\"citedby-count\" type=\"number\">1</crm-item>\r\n
        \       <doi_record>\r\n          <crossref xmlns=\"http://www.crossref.org/xschema/1.1\"
        xsi:schemaLocation=\"http://www.crossref.org/xschema/1.1 http://doi.crossref.org/schemas/unixref1.1.xsd\">\r\n
        \           <journal>\r\n              <journal_metadata language=\"en\">\r\n
        \               <full_title>Bulletin of the Korean Chemical Society</full_title>\r\n
        \               <abbrev_title>Bulletin of the Korean Chemical Society</abbrev_title>\r\n
        \               <issn media_type=\"print\">0253-2964</issn>\r\n              </journal_metadata>\r\n
        \             <journal_issue>\r\n                <publication_date media_type=\"print\">\r\n
        \                 <month>10</month>\r\n                  <day>20</day>\r\n
        \                 <year>2013</year>\r\n                </publication_date>\r\n
        \               <journal_volume>\r\n                  <volume>34</volume>\r\n
        \               </journal_volume>\r\n                <issue>10</issue>\r\n
        \             </journal_issue>\r\n              <journal_article publication_type=\"full_text\">\r\n
        \               <titles>\r\n                  <title>Synthesis, Crystal Structure
        and Theoretical Calculation of a Novel Nickel(II) Complex with Dibromotyrosine
        and 1,10-Phenanthroline</title>\r\n                  <original_language_title
        />\r\n                </titles>\r\n                <contributors>\r\n                  <person_name
        sequence=\"first\" contributor_role=\"author\">\r\n                    <given_name>Guimei</given_name>\r\n
        \                   <surname>Huang</surname>\r\n                  </person_name>\r\n
        \                 <person_name sequence=\"additional\" contributor_role=\"author\">\r\n
        \                   <given_name>Xia</given_name>\r\n                    <surname>Zhang</surname>\r\n
        \                 </person_name>\r\n                  <person_name sequence=\"additional\"
        contributor_role=\"author\">\r\n                    <given_name>Yuhua</given_name>\r\n
        \                   <surname>Fan</surname>\r\n                  </person_name>\r\n
        \                 <person_name sequence=\[...]
