---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.1186
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1186",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 11 Oct 2020 05:26:31 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1186/1471-2164-7-187/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.1186/1471-2164-7-187>; rel="canonical", <http://link.springer.com/content/pdf/10.1186/1471-2164-7-187.pdf>;
        version="vor"; type="application/pdf"; rel="item", <http://link.springer.com/article/10.1186/1471-2164-7-187/fulltext.html>;
        version="vor"; type="text/html"; rel="item", <http://link.springer.com/content/pdf/10.1186/1471-2164-7-187.pdf>;
        version="vor"; type="application/pdf"; rel="item", <http://creativecommons.org/licenses/by/2.0>;
        version="tdm"; rel="license"
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"journal_article\">10.1186/1471-2164-7-187</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">Springer Science
        and Business Media LLC</crm-item>\r\n        <crm-item name=\"prefix-name\"
        type=\"string\">Springer (Biomed Central Ltd.)</crm-item>\r\n        <crm-item
        name=\"member-id\" type=\"number\">297</crm-item>\r\n        <crm-item name=\"citation-id\"
        type=\"number\">22586616</crm-item>\r\n        <crm-item name=\"journal-id\"
        type=\"number\">5911</crm-item>\r\n        <crm-item name=\"deposit-timestamp\"
        type=\"number\">20200420160445553</crm-item>\r\n        <crm-item name=\"owner-prefix\"
        type=\"string\">10.1186</crm-item>\r\n        <crm-item name=\"last-update\"
        type=\"date\">2020-04-20T14:28:32Z</crm-item>\r\n        <crm-item name=\"created\"
        type=\"date\">2006-07-25T18:14:51Z</crm-item>\r\n        <crm-item name=\"citedby-count\"
        type=\"number\">136</crm-item>\r\n        <crm-item name=\"relation\" type=\"doi\"
        claim=\"isReviewOf\">10.3410/f.1044091.494000</crm-item>\r\n        <crm-item
        name=\"relation\" type=\"doi\" claim=\"isReviewOf\">10.3410/f.1044091.496329</crm-item>\r\n
        \       <doi_record>\r\n          <crossref xmlns=\"http://www.crossref.org/xschema/1.1\"
        xsi:schemaLocation=\"http://www.crossref.org/xschema/1.1 http://doi.crossref.org/schemas/unixref1.1.xsd\">\r\n
        \           <journal>\r\n              <journal_metadata language=\"en\">\r\n
        \               <full_title>BMC Genomics</full_title>\r\n                <abbrev_title>BMC
        Genomics</abbrev_title>\r\n                <issn media_type=\"electronic\">1471-2164</issn>\r\n
        \             </journal_metadata>\r\n              <journal_issue>\r\n                <publication_date
        media_type=\"print\">\r\n                  <month>12</month>\r\n                  <year>2006</year>\r\n
        \               </publication_date>\r\n                <journal_volume>\r\n
        \                 <volume>7</volume>\r\n                </journal_volume>\r\n
        \               <issue>1</issue>\r\n              </journal_issue>\r\n              <journal_article
        publication_type=\"full_text\">\r\n                <titles>\r\n                  <title>Finding
        function: evaluation methods for functional genomic data</title>\r\n                </titles>\r\n
        \               <contributors>\r\n                  <person_name contributor_role=\"author\"
        sequence=\"first\">\r\n                    <given_name>Chad L</given_name>\r\n
        \                   <surname>Myers</surname>\r\n                  </person_name>\r\n
        \                 <person_name contributor_role=\"author\" sequence=\"additional\">\r\n
        \                   <given_name>Daniel R</given_name>\r\n                    <surname>Barrett</surname>\r\n
        \                 </person_name>\r\n                  <person_name contributor_role=\"author\"
        sequence=\"additional\">\r\n                    <given_name>Matthew A</given_name>\r\n
        \                   <surname>Hibbs</surname>\r\n                  </person_name>\r\n
        \                 <person_name contributor_role=\"author\" sequence=\"additional\">\r\n
        \                   <given_name>Curtis</given_name>\r\n                    <surname>Huttenhower</surname>\r\n
        \                 </person_name>\r\n                  <person_name contributor_role=\"author\"
        sequence=\"additional\">\r\n                    <given_name>Olga G</given_name>\r\n
        \                   <surname>Troyanskaya</surname>\r\n                  </person_name>\r\n
        \               </contributors>\r\n                <publication_date media_type=\"online\">\r\n
        \                 <month>7</month>\r\n                  <day>25</day>\r\n
        \                 <year>2006</year>\r\n                </publication_date>\r\n
        \               <publication_date media_type=\"print\">\r\n                  <month>12</month>\r\n
        \                 <year>2006</year>\r\n                </publication_date>\r\n
        \               <publisher_item>\r\n                  <item_number item_number_type=\"article-number\">187</item_number>\r\n
        \                 <identifier id_type=\"pii\">570</identifier>\r\n                </publisher_item>\r\n
        \               <ai:program xmlns:ai=\"http://www.crossref.org/AccessIndicators.xsd\"
        name=\"AccessIndicators\">\r\n                  <ai:license_ref applies_to=\"tdm\">http://creativecommons.org/licenses/by/2.0</ai:license_ref>\r\n
        \               </ai:program>\r\n                <doi_data>\r\n                  <doi>10.1186/1471-2164-7-187</doi>\r\n
        \                 <timestamp>20200420160445553</timestamp>\r\n                  <resource
        content_version=\"vor\">https://bmcgenomics.biomedcentral.com/articles/10.1186/1471-2164-7-187</resource>\r\n
        \                 <collection property=\"crawler-based\">\r\n                    <item
        crawler=\"iParadigms\">\r\n                      <resource mime_type=\"application/pdf\">http://link.springer.com/content/pdf/10.1186/1471-2164-7-187.pdf</resource>\r\n
        \                   </item>\r\n                  </collection>\r\n                  <collection
        property=\"text-mining\">\r\n                    <item>\r\n                      <resource
        mime_type=\"application/pdf\">http://link.springer.com/content/pdf/10.1186/1471-2164-7-187.pdf</resource>\r\n
        \                   </item>\r\n                    <item>\r\n                      <resource
        mime_type=\"text/html\">http://link.springer.com/article/10.1186/1471-2164-7-187/fulltext.html</resource>\r\n
        \                   </item>\r\n                  </collection>\r\n                </doi_data>\r\n
        \               <citation_list>\r\n                  <citation key=\"570_CR1\">\r\n
        \                   <author>Z Barutcuoglu</author>\r\n                    <cYear>2006</cYear>\r\n
        \                   <volume_title>Bioinformatics</volume_title>\r\n                    <unstructured_citation>Barutcuoglu
        Z, Schapire RE, Troyanskaya OG: Hierarchical multi-label prediction of gene
        function. Bioinformatics. 2006</unstructured_citation>\r\n                  </citation>\r\n
        \                 <citation key=\"570_CR2\">\r\n                    <journal_title>Bioinformatics</journal_title>\r\n
        \                   <author>A Clare</author>\r\n                    <volume>19</volume>\r\n
        \                   <issue>Suppl 2</issue>\r\n                    <first_page>II42</first_page>\r\n
        \                   <cYear>2003</cYear>\r\n                    <doi>10.1093/bioinformatics/btg1058</doi>\r\n
        \                   <unstructured_citation>Clare A, King RD: Predicting gene
        function in Saccharomyces cerevisiae. Bioinformatics. 2003, 19 (Suppl 2):
        II42-II49.</unstructured_citation>\r\n                  </citation>\r\n                  <citation
        key=\"570_CR3\">\r\n                    <author>GR Lanckriet</author>\r\n
     [...]
