---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.7554
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.7554",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sat, 29 Dec 2018 07:52:32 GMT
- request:
    method: get
    uri: http://www.crossref.org/openurl/?format=unixref&id=doi:10.7554/elife.01567x&noredirect=true&pid=tech@datacite.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Crossref-Deployment-Name:
      - qs5-1
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<doi_records>\r\n  <doi_record>\r\n
        \   <crossref>\r\n      <error>doi:10.7554/elife.01567x</error>\r\n    </crossref>\r\n
        \ </doi_record>\r\n</doi_records>"
  recorded_at: Sat, 29 Dec 2018 07:52:32 GMT
recorded_with: VCR 3.0.3
