---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.4230
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.4230",
            "RA": "DataCite"
          }
        ]
  recorded_at: Sun, 06 Jun 2021 12:01:45 GMT
- request:
    method: get
    uri: https://api.datacite.org/dois/10.4230/lipics.tqc.2013.93?include=media,client
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"84b5f44838581539b26c5af24a027770"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.4230/lipics.tqc.2013.93","type":"dois","attributes":{"doi":"10.4230/lipics.tqc.2013.93","prefix":"10.4230","suffix":"lipics.tqc.2013.93","identifiers":[],"alternateIdentifiers":[],"creators":[{"name":"Johnston,
        Nathaniel","nameType":"Personal","givenName":"Nathaniel","familyName":"Johnston","affiliation":[],"nameIdentifiers":[]}],"titles":[{"title":"The
        Minimum Size of Qubit Unextendible Product Bases"}],"publisher":"Schloss Dagstuhl
        - Leibniz-Zentrum fuer Informatik GmbH, Wadern/Saarbruecken, Germany","container":{},"publicationYear":2013,"subjects":[{"subject":"Computer
        Science"},{"subject":"000 Computer science, knowledge, general works","subjectScheme":"DDC"}],"contributors":[{"name":"Herbstritt,
        Marc","nameType":"Personal","givenName":"Marc","familyName":"Herbstritt","affiliation":[],"contributorType":"Editor","nameIdentifiers":[]}],"dates":[{"date":"2013-11-05","dateType":"Available"},{"date":"2013","dateType":"Issued"}],"language":"en","types":{"ris":"RPRT","bibtex":"article","citeproc":"article-journal","schemaOrg":"ScholarlyArticle","resourceType":"ConferencePaper","resourceTypeGeneral":"Text"},"relatedIdentifiers":[],"sizes":["13
        pages"],"formats":["application/pdf"],"version":null,"rightsList":[],"descriptions":[{"description":"We
        investigate the problem of constructing unextendible product bases in the
        qubit case - that is, when each local dimension equals 2. The cardinality
        of the smallest unextendible product basis is known in all qubit cases except
        when the number of parties is a multiple of 4 greater than 4 itself. We construct
        small unextendible product bases in all of the remaining open cases, and we
        use graph theory techniques to produce a computer-assisted proof that our
        constructions are indeed the smallest possible.","descriptionType":"Other"}],"geoLocations":[],"fundingReferences":[],"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMi4xIiB4bWxuczp4c2k9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEvWE1MU2NoZW1hLWluc3RhbmNlIiB4c2k6c2NoZW1hTG9jYXRpb249Imh0dHA6Ly9kYXRhY2l0ZS5vcmcvc2NoZW1hL2tlcm5lbC0yLjEgaHR0cDovL3NjaGVtYS5kYXRhY2l0ZS5vcmcvbWV0YS9rZXJuZWwtMi4xL21ldGFkYXRhLnhzZCI+CjxpZGVudGlmaWVyIGlkZW50aWZpZXJUeXBlPSJET0kiPjEwLjQyMzAvTElQSWNzLlRRQy4yMDEzLjkzPC9pZGVudGlmaWVyPgo8Y3JlYXRvcnM+CjxjcmVhdG9yPgo8Y3JlYXRvck5hbWU+Sm9[...]
