---
http_interactions:
- request:
    method: get
    uri: https://app.datacite.org/prefixes/10.3204
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"3e45718160f5f878c43a4f09b5210d8d"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.3204","type":"prefixes","attributes":{"registration-agency":"DataCite","created":"2010-01-01T00:00:00.000Z","updated":null},"relationships":{"clients":{"data":[{"id":"tib.desy","type":"clients"}]},"providers":{"data":[{"id":"tib","type":"providers"}]}}},"included":[{"id":"tib.desy","type":"clients","attributes":{"name":"DESY
        - Deutsches Elektronen-Synchrotron","symbol":"TIB.DESY","year":2011,"contact-name":"Kirsten
        Sachs","contact-email":"Kirsten.Sachs@desy.de","domains":"desy.de,cern.ch","url":null,"created":"2011-08-12T09:39:17.000Z","updated":"2018-08-26T02:35:08.000Z","is-active":true,"has-password":true},"relationships":{"provider":{"data":{"id":"tib","type":"providers"}},"prefixes":{"data":[{"id":"10.3204","type":"prefixes"},{"id":"10.5072","type":"prefixes"}]}}},{"id":"tib","type":"providers","attributes":{"name":"German
        National Library of Science and Technology","symbol":"TIB","website":"http://www.tib.eu","contact-name":"Stephanie
        Hagemann-Wilholt","contact-email":"doi-info@tib.eu","phone":"+49 511 762 14226","description":"The
        TIB is the German National Library for all areas of engineering as well as
        architecture, chemistry, information technology, mathematics and physics.
        We are the world''s largest specialised library for science and technology
        and are part of the German research infrastructure. Our function is the comprehensive
        procurement and archival storage of technical scientific literature from all
        over the world. TIB was the first DOI registration agency for primary data
        worldwide. We have been providing DOI registration services since 2005 and
        we now work directly with over 40 data centres. TIB is one of the founding
        members of DataCite and is currently the Business Office. We provide DOI registration
        services for all German data centres in the fields of engineering, architecture,
        chemistry, information technology, mathematics and physics. Our current focus
        is on providing DOI names for primary data and grey literature.","region":"EMEA","country":"DE","logo-url":"https://assets.datacite.org/images/members/tib.png","institution-type":null,"is-active":true,"has-password":true,"joined":"2009-12-01","created":"2010-01-01T00:00:00.000Z","updated":"2018-08-26T02:25:50.000Z"},"relationships":{"prefixes":{"data":[{"id":"10.1594","type":"prefixes"},{"id":"10.2311","type":"prefixes"},{"id":"10.2312","type":"prefixes"},{"id":"10.2313","type":"prefixes"},{"id":"10.2314","type":"prefixes"},{"id":"10.2315","type":"prefixes"},{"id":"10.3203","type":"prefixes"},{"id":"10.3204","type":"prefixes"},{"id":"10.4118","type":"prefixes"},{"id":"10.4125","type":"prefixes"},{"id":"10.4228","type":"p[...]
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,url,xml,state,allocator_symbol,datacentre_symbol,media,minted,updated&q=doi:10.3204/desy-2014-01645&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":1,"start":0,"docs":[{"datacentre_symbol":"TIB.DESY","url":"http://bib-pubdb1.desy.de/record/166827","xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC0zL21ldGFkYXRhLnhzZCI+PGNvbnRyaWJ1dG9ycz48Y29udHJpYnV0b3IgY29udHJpYnV0b3JUeXBlPSJDb250YWN0UGVyc29uIj48Y29udHJpYnV0b3JOYW1lPkNvbnJhZCwgSGVpa288L2NvbnRyaWJ1dG9yTmFtZT48L2NvbnRyaWJ[...]
