---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.4121
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.4121",
            "RA": "DataCite"
          }
        ]
  recorded_at: Sun, 12 Jul 2020 11:24:36 GMT
- request:
    method: get
    uri: https://api.datacite.org/dois/10.4121/uuid:3926db30-f712-4394-aebc-75976070e91f?include=media,client
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"ffa59991d8152ec0b734166b2217a001"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.4121/uuid:3926db30-f712-4394-aebc-75976070e91f","type":"dois","attributes":{"doi":"10.4121/uuid:3926db30-f712-4394-aebc-75976070e91f","prefix":"10.4121","suffix":"uuid:3926db30-f712-4394-aebc-75976070e91f","identifiers":[{"identifier":"https://doi.org/10.4121/uuid:3926db30-f712-4394-aebc-75976070e91f","identifierType":"DOI"}],"alternateIdentifiers":[],"creators":[{"name":"Van
        Dongen, B.F. (Boudewijn)","nameType":"Personal","affiliation":[],"nameIdentifiers":[{"schemeUri":"https://orcid.org","nameIdentifier":"https://orcid.org/0000-0002-3978-6464","nameIdentifierScheme":"ORCID"}]}],"titles":[{"title":"BPI
        Challenge 2012"}],"publisher":"Eindhoven University of Technology","container":{},"publicationYear":2012,"subjects":[{"subject":"000
        Computer science, knowledge &amp; systems"},{"subject":"Business Process Intelligence
        (BPI)"},{"subject":"0806 - Information Systems","subjectScheme":"Australian
        and New Zealand Standard Research Classification (ANZSRC), 2008"},{"subject":"1503
        - Business and Management","subjectScheme":"Australian and New Zealand Standard
        Research Classification (ANZSRC), 2008"}],"contributors":[{"name":"Eindhoven
        University Of Technology","affiliation":[],"contributorType":"Other","nameIdentifiers":[]}],"dates":[{"date":"2011-10-01/2012-03-14","dateType":"Other","dateInformation":"Temporal
        coverage of this dataset."},{"date":"2012","dateType":"Issued"}],"language":"nl","types":{"ris":"DATA","bibtex":"misc","citeproc":"dataset","schemaOrg":"Dataset","resourceType":"Dataset","resourceTypeGeneral":"Dataset"},"relatedIdentifiers":[{"relationType":"References","relatedIdentifier":"http://www.win.tue.nl/bpi/2012/challenge","relatedIdentifierType":"URL"}],"sizes":[],"formats":["text/xml","application/x-gzip"],"version":null,"rightsList":[],"descriptions":[{"description":"Event
        log of a loan application process","descriptionType":"Abstract"}],"geoLocations":[],"fundingReferences":[],"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00LjEvbWV0YWRhdGEueHNkIj4KICA8aWRlbnRpZmllciBpZGVudGlmaWVyVHlwZT0iRE9JIj4xMC40MTIxL1VVSUQ6MzkyNkRCMzAtRjcxMi00Mzk0LUFFQkMtNzU5NzYwNzBFOTFGPC9pZGVudGlmaWVyPgogIDxjcmVhdG9ycz4KICA[...]
