---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.4121
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"7cc1656d30bb4e9a5e1b99283b7135a7"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.4121","type":"prefixes","attributes":{"registration-agency":"DataCite","created":"2010-01-01T00:00:00.000Z","updated":null},"relationships":{"clients":{"data":[{"id":"delft.data4tu","type":"clients"}]},"providers":{"data":[{"id":"delft","type":"providers"}]}}},"included":[{"id":"delft.data4tu","type":"clients","attributes":{"name":"4TU.Centre
        for Research Data","symbol":"DELFT.DATA4TU","year":2011,"contact-name":"Egbert
        Gramsbergen","contact-email":"researchdata@4tu.nl","domains":"*","url":null,"created":"2011-09-30T09:18:16.000Z","updated":"2018-08-26T02:35:08.000Z","is-active":true,"has-password":true},"relationships":{"provider":{"data":{"id":"delft","type":"providers"}},"repository":{"data":{"id":"r3d100010216","type":"repositories"}},"prefixes":{"data":[{"id":"10.4121","type":"prefixes"},{"id":"10.5072","type":"prefixes"}]}}},{"id":"delft","type":"providers","attributes":{"name":"TU
        Delft Library","symbol":"DELFT","website":"http://www.library.tudelft.nl/en","contact-name":"Madeleine
        de Smaele","contact-email":"m.m.e.desmaele@tudelft.nl","phone":"+31 15 27
        85678","description":"The TU Delft Library is the hub of knowledge for technical
        and scientific information and the largest technical-scientific library in
        the Netherlands. We support research and education at the national level and
        are part of the Delft University of Technology. TU Delft Library is a founding
        member of DataCite and a regional office for the Netherlands.\n\nTU Delft
        Library has established DataCite Netherlands to serve as a central research
        dataset registration service that will enable Dutch research organizations
        to register research datasets and assign digital object identifiers (DOIs)
        to them. Our aim is to support researchers by improving access to research
        data and to increase acceptance of the research data as legitimate, citable
        contributions to scientific record through trustworthy registration and identification
        of datasets. The current focus of DataCite Netherlands is on promoting the
        use of digital object identifiers for datasets.","region":"EMEA","country":"NL","logo-url":"https://assets.datacite.org/images/members/delft.png","institution-type":null,"is-active":true,"has-password":true,"joined":"2009-12-01","created":"2010-01-01T00:00:00.000Z","updated":"2018-08-26T02:25:51.000Z"},"relationships":{"prefixes":{"data":[{"id":"10.4121","type":"prefixes"},{"id":"10.4233","type":"prefixes"},{"id":"10.5074","type":"prefixes"},{"id":"10.5290","type":"prefixes"},{"id":"10.5072","type":"prefixes"},{"id":"10.6100","type":"prefixes"},{"id":"10.7480","type":"prefixes"},{"id":"10.14284","type":"prefixes"},{"id":"10.15133","type":"prefixes"},{"id":"10.15478","type":"prefixes"},{"id":"10.17027","type":"prefixes"},{"id":"10.17026","type":"prefixes"},{"id":"10.17046","type":"prefixes"},{"id":"10.17195","type":"prefixes"},{"id":"10.18146","type":"prefixes"},{"id":"10.18757","type":"prefixes"},{"id":"10.18758","type":"prefixes"},{"id":"10.21946","type":"prefixes"},{"id":"10.21945","type":"prefixes"},{"id":"10.21944","type":"prefixes"},{"id":"10.21943","type":"prefixes"},{"id":"10.21942","type":"prefixes"},{"id":"10.24415","type":"prefixes"},{"id":"10.24414","type":"prefixes"},{"id":"10.24413","type":"prefixes"},{"id":"10.24417","type":"prefixes"},{"id":"10.24416","type":"prefixes"},{"id":"10.25610","type":"prefixes"},{"id":"10.25609","type":"prefixes"},{"id":"10.25608","type":"prefixes"},{"id":"10.25607","type":"prefixes"},{"id":"10.25606","type":"prefixes"}]}}}]}'
  recorded_at: Thu, 06 Sep 2018 07:22:00 GMT
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,url,xml,state,allocator_symbol,datacentre_symbol,media,minted,updated&q=doi:10.4121/uuid:3926db30-f712-4394-aebc-75976070e91f&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":1,"start":0,"docs":[{"datacentre_symbol":"DELFT.DATA4TU","url":"https://data.4tu.nl/repository/uuid:3926db30-f712-4394-aebc-75976070e91f","xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00LjEvbWV0YWRhdGEueHNkIj4KICA8aWRlbnRpZmllciBpZGVudGlmaWVyVHlwZT0iRE9JIj4xMC40MTIxL1VVSUQ6MzkyNkRCMzAtRjcxMi00Mzk0LUFFQkMtNzU5NzYwNzBFOTFGPC9pZGVudGlmaWVyPgogIDxjcmVhdG9ycz4KICA[...]
