---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.6084
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"16b995f2d291136cfa99f8983ba81a63"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.6084","type":"prefixes","attributes":{"registration-agency":"DataCite","created":"2011-12-09T07:47:16.000Z","updated":null},"relationships":{"clients":{"data":[{"id":"figshare.ars","type":"clients"}]},"providers":{"data":[{"id":"figshare","type":"providers"}]}}},"included":[{"id":"figshare.ars","type":"clients","attributes":{"name":"figshare
        Academic Research System","symbol":"FIGSHARE.ARS","year":2016,"contact-name":"Gavrila
        Daniel","contact-email":"danielduduta@figshare.com","domains":"figshare.com","url":null,"created":"2016-10-12T13:42:35.000Z","updated":"2018-08-26T02:35:46.000Z","is-active":true,"has-password":true},"relationships":{"provider":{"data":{"id":"figshare","type":"providers"}},"repository":{"data":{"id":"100010066","type":"repositories"}},"prefixes":{"data":[{"id":"10.5072","type":"prefixes"},{"id":"10.6084","type":"prefixes"}]}}},{"id":"figshare","type":"providers","attributes":{"name":"figshare","symbol":"FIGSHARE","website":"https://figshare.com","contact-name":"Daniel
        Gavrila","contact-email":"danielduduta@figshare.com","phone":"+44 (0) 20 7418
        5573","description":"figshare is a repository where users can make all of
        their research outputs available in a citable, shareable and discoverable
        manner.\n\nfigshare allows users to upload any file format to be previewed
        in the browser so that any research output, from posters and presentations
        to datasets and code, can be disseminated in a way that the current scholarly
        publishing model does not allow.\n\nOur mission is to change the face of academic
        publishing with the improved dissemination and discoverability and reusability
        of all scholarly research.","region":"EMEA","country":"GB","logo-url":"https://assets.datacite.org/images/members/figshare.png","institution-type":null,"is-active":true,"has-password":true,"joined":"2016-09-12","created":"2016-10-04T12:19:14.000Z","updated":"2018-08-26T02:25:52.000Z"},"relationships":{"prefixes":{"data":[{"id":"10.5072","type":"prefixes"},{"id":"10.6084","type":"prefixes"},{"id":"10.17914","type":"prefixes"},{"id":"10.23641","type":"prefixes"},{"id":"10.23640","type":"prefixes"},{"id":"10.23643","type":"prefixes"},{"id":"10.23642","type":"prefixes"},{"id":"10.23645","type":"prefixes"},{"id":"10.23644","type":"prefixes"},{"id":"10.25419","type":"prefixes"},{"id":"10.25417",[...]
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,url,xml,state,allocator_symbol,datacentre_symbol,media,minted,updated&q=doi:10.6084/m9.figshare.4234751.v1&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":1,"start":0,"docs":[{"datacentre_symbol":"FIGSHARE.ARS","xml":"PHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC0zL21ldGFkYXRhLnhzZCI+PGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNjA4NC9tOS5maWdzaGFyZS40MjM0NzUxLnYxPC9pZGVudGlmaWVyPjxjcmVhdG9ycz48Y3JlYXRvcj48Y3JlYXRvck5hbWU+QWxleGFuZGVyIEp1bmdlPC9jcmVhdG9yTmFtZT48bmFtZUlkZW50aWZpZXIgbmF[...]
