---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.4225
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.4225",
            "RA": "DataCite"
          }
        ]
  recorded_at: Sun, 06 Jun 2021 12:00:45 GMT
- request:
    method: get
    uri: https://api.datacite.org/dois/10.4225/03/5a6931f57c654?include=media,client
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"0e8b1d7278fb9943f43f291d5e9ea06e"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.4225/03/5a6931f57c654","type":"dois","attributes":{"doi":"10.4225/03/5a6931f57c654","prefix":"10.4225","suffix":"03/5a6931f57c654","identifiers":[],"alternateIdentifiers":[],"creators":[{"name":"YUE
        SHI","affiliation":[],"nameIdentifiers":[]}],"titles":[{"title":"Biomaterials
        for Infection Resistant Devices"}],"publisher":"Monash University","container":{},"publicationYear":2018,"subjects":[{"subject":"90301
        Biomaterials","subjectScheme":"FOR"},{"subject":"FOS: Medical engineering","schemeUri":"http://www.oecd.org/science/inno/38235147.pdf","subjectScheme":"Fields
        of Science and Technology (FOS)"},{"subject":"FOS: Medical engineering","subjectScheme":"Fields
        of Science and Technology (FOS)"}],"contributors":[],"dates":[{"date":"2018-01-24","dateType":"Created"},{"date":"2019-09-11","dateType":"Updated"},{"date":"2018","dateType":"Issued"}],"language":null,"types":{"ris":"RPRT","bibtex":"article","citeproc":"article-journal","schemaOrg":"ScholarlyArticle","resourceType":"Thesis","resourceTypeGeneral":"Text"},"relatedIdentifiers":[],"sizes":["8603818
        Bytes"],"formats":[],"version":null,"rightsList":[{"rights":"In Copyright","rightsUri":"http://rightsstatements.org/vocab/InC/1.0/"}],"descriptions":[{"description":"Biofilm
        formation on medical devices become a significant clinical problem due to
        the loss of efficacy of antibiotic based conventional therapies. Herein, this
        dissertation reports new developments in biomaterials for infection resistant
        devices including antimicrobial wound dressing materials and thin film coatings.
        The antimicrobial wound dressing materials achieved controlled delivery of
        antibiotics and thin film coatings provide a translatable technique for medical
        devices surfaces to either prevent or interfere biofilm formations.","descriptionType":"Abstract"}],"geoLocations":[],"fundingReferences":[],"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00LjEvbWV0YWRhdGEueHNkIj4KICA8aWRlbnRpZmllciBpZGVudGlmaWVyVHlwZT0iRE9JIj4xMC40MjI1LzAzLzVBNjkzMUY1N0M2NTQ8L2lkZW50aWZpZXI+CiAgPGNyZWF0b3JzPgogICAgPGNyZWF0b3I+CiAgICAgIDxjcmVhdG9[...]
