---
http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v2.0/0000-0002-0159-2197x/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response-code":404,"developer-message":"javax.persistence.NoResultException","user-message":"The
        resource was not found.","error-code":9016,"more-info":"http://members.orcid.org/api/api-error-codes"}'
  recorded_at: Wed, 24 Jun 2015 22:00:00 GMT
recorded_with: VCR 3.0.3
